body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.correct-position {
  color: white;
  background-color: rgb(84, 184, 84) !important;
}

.incorrect-position {
  background-color: rgb(235, 211, 0) !important;
}

.not-used {
  color: white;
  background-color: rgb(88, 88, 88) !important;
}
